<div class = "questions-container">
  <div class = "questions-content">

  <div class = "questions-mainbar">

    <div class = "questions-mainbar-header">
      <span id = "all-questions">All Questions</span>
      <div id="questions-mainbar-header-tabs">
        <a class = "tab" id = "newest-tab" href="/questions">newest</a>
        <a class = "tab" id = "featured-tab" href="/questions">featured</a>
        <a class = "tab" id = "frequent-tab" href="/questions">frequent</a>
        <a class = "tab" id = "votes-tab" href="/questions">votes</a>
        <a class = "tab" id = "active-tab" href="/questions">active</a>
        <a class = "tab" id = "unanswered-tab" href="/questions">unanswered</a>
      </div>
    </div>

    <div class = "questions">
      <% @questions.each do |question| %>
      <div class = "question-summary">
        <p>hi jen!</p>
      </div>
      <% end %>
    </div>
<!-- below tab closeds questions mainbar. don't delete it. -->
    </div>




  <div class = "questions-sidebar">
    <p>Awesome sidebar junk here</p>
  </div>

  </div>
</div>
