<div id="mainbar">
  <div id="questions">
    <div class="question-summary">
      <div class="stats-container">
        <div class="stats-arrow">
        </div>
        <div class="stats">
        </div>
        <div class="views">
        </div>
      <div class="summary">
        <h3></h3>
        <div class="excerpt">
        </div>
        <div class="tags">
        </div>
      </div>
    </div>
  </div>
</div>
