.tag-container{

  max-width: 900px;
  border-top: thin solid gray;
  margin: auto;
  margin-top: 3em;
  height: 900px;
}

.tabs {
    float: right;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
}

.tabs li {
    float: right;
    padding: 10px 15px;
    height: 20px;
    line-height: 30px;
}

.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    /*padding-left: 10px;*/
    text-align: center;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-top: 2px solid #f69c55;
    /*border-bottom: 1px solid white;*/
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    margin-bottom: -1px;
    height: 28px;
    /*width: 45px;*/
    padding: 5px 10px;
}

/*.tag-tag{
    float: right;
}*/