header {
  height: 34px;
  width: 100%;
  background-color: #1F1E1E;
}

.top_bar {
  display: block;
  height: 34px;
  width: 80%;
  /*background-color: grey;*/
  margin-right: auto;
  margin-left: auto;
}

.search_bar {
  float: right;
  width: 188px;
  max-height: 16px;
  margin-top: 5px;
}
.navbar {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  height: 34px;
  width: 500px;
}

.navbar_li {
  height: 100%;
  width:50px;
  float: right;
  display: inline;
  list-style: none;
  color: white;
  font-size: 12px;
}

.navbar_li_soc {
  height: 100%;
  width: 135px;
  float: right;
  display: inline;
  list-style: none;
  color: white;
  font-size: 12px;
}

.navbar_li:hover {
  background-color: #403E3E;
  color: white;
  height: 100%;
  width:50px;
  margin-bottom: 500px;
}

.navbar_li_soc:hover {
  background-color: #403E3E;
  color: white;
  height: 100%;
  width: 135px;
}

li.navbar_li a {
  position: absolute;
  padding-top: 10px;
}

li.navbar_li_soc a {
  position: absolute;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}
