* {
  background-color: #FFFFFF;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
      box-sizing: border-box;
          font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#signup-login-header {
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

#signup-login-header-tabs {
  float: left;
}

.tab {
  width: 33.125px;
  height: 12px;
  padding: 10px;
  border-top: 2px solid orange;
  border-bottom: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-right: 8px;
}

#ram-network-text {
  width: 1000px;
  height: 36px;
  font-size: 20px;
  margin-bottom: 30px;
}

#google-fb-buttons {
  width: 280px;
  height: 55px;
}

.google-button {
  border-radius: 5px;
  display: inline-block;
  width: 136px;
  height: 38px;
  border: 1px solid whitesmoke;
  background-color: #E0492F;
  color: #FFFFFF;
}

.google-button > span {
  background-color: #E0492F;
}

.facebook-button {
  border-radius: 5px;
  display: inline-block;
  width: 136px;
  height: 38px;
  border: 1px solid whitesmoke;
  background-color: #395697;
  color: #FFFFFF;
}

.facebook-button > span {
  background-color: #395697;
}

#signup-login {
  margin: 0 auto;
  width: 600px;

}

#signup-login-wrapper {
  width: 330px;
  height: 306px;
  padding: 30px;
  border: 1px solid gray;
  margin: 0 329;
}

#or-seperator {
  width: 280px;
  height: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#or {
  width: 13.016px;
  height: 16px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #808080;
}

.signup-specific-view, .login-specific-view {

}

#signup-form, #login-form {
  width: 280px;
  height: 168px;
}

form > label {
  color: black;
  line-height: 1.3em;
  font-weight: bold;
}

input {
  width: 263px;
  height: 18px;
  padding: 8px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 10px.
}

.signup-button, .login-button {
  border-radius: 5px;
  width: 136px;
  height: 38px;
  padding: 12px 50px;
  margin-top: 5px;
  background-color: #0077CC;
}
