<div class="login-signup-container">

<% if @logout %>
  <div id="signup-login-header">
    <div id="signup-login-header-tabs">
        <a class = "tab" id = "logout-tab" href="/users/logout" title="Log out of Ram Overflow">Log Out</a>
    </div>
  </div>

 <% else %>

<div id="signup-login-header">
    <div id="signup-login-header-tabs">
        <a class = "tab" id = "login-tab" href="/users/login" title="Log in to Ram Overflow">Log in</a>
        <a class = "tab" id = "signup-tab" href="/users/signup" title="Sign up to Ram Overflow">Sign up</a>
    </div>
  </div>

  <div id="signup-login">
    <div id = "ram-network-text">
      Ram Overflow is part of the <span=id = "ram-network-gif" ><img title="Ram Exchange" src="/images/ram_advantage_mini.gif"/></span> network of 149 Q&amp;A <a href="/">communities</a>.
    </div>

    <div id="signup-login-wrapper">

      <div id="google-fb-buttons">
        <div class="google-button">
          <span>Google</span>
          <br/>
        </div>
        <div class="facebook-button">
         <span>Facebook</span>
          <br/>
        </div>
      </div>

      <div id="or-seperator"><div id="or">OR</or></div></div>
 <% end %>

 <% if @signup %>
 <!-- SHOW IF SIGNING UP, HIDE IF LOGGING IN -->
    <div class = "signup-specific-view">
      <form id="signup-login-form" action="/users" method="POST">
          <label for="email">Email (required, but never shown)</label><br/>
          <input type="email" name="email" placeholder="you@example.org"/><br/>
          <label for="password">Password</label><br/>
          <input type="password" name="password" placeholder="********"/><br/>
          <label for="password-confirm">Confirm password</label><br/>
          <input type="password" name="password-confirm" placeholder="********"/><br/>

         <br>

        <div id="controls-row">
          <a href ="/">more sign up options</a>
          <input class="signup-button" type="submit" name="signup-button" value="Sign up" />
        </div>

      <div id="terms-of-service">By registering, you agree to the <a href='/'>privacy policy</a> and <a href='/'>terms of service</a>.</div>
    </form>
  </div>
</div>

    <div id="switch-to-login">Already have an account? <a href="/users/login">Log in</a></div>
    </div>

<% elsif @login %>

<!-- SHOW IF LOGGING IN, HIDE IF SIGNING UP -->
    <div class = "login-specific-view">
      <form id="signup-login-form" action="/users/login" method="POST">
          <label for="email">Email</label><br/>
          <input type="email" name="email" placeholder="you@example.org"/><br/>
          <label for="password">Password</label><br/>
          <input type="password" name="password" placeholder="********"/><br/>

        <div id="controls-row">
          <a href="/">more login options</a>
          <input class="login-button" type="submit" name="login-button" value="Log in" />
        </div>
      </form>
    </div>
  </div>

    <div id="switch-to-signup">Don't have an account? <a href="/users/signup">Sign up</a></div>
  </div>

<% else %>

<div class = "login-specific-view">
  <h2>Clicking "Log Out" will log you out of the following domains on this device:</h2>
      <form id="signup-login-form" action="/users/logout" method="POST">
          <p>placeholder for other stuff you might logout of on ramexchange network</p>
        <div id="controls-row">
          <a href="/">cancel</a>
          <input class="login-button" type="submit" name="login-button" value="Log out" />
        </div>
      </form>
    </div>
  </div>


<% end %>

