 <div class="tag-container">

  <ul class="tabs">
      <li><a href="/tags/new">new</a></li>
      <li class="active"><a href="">name</a></li>
      <li><a href="/tags">popular</a></li>
  </ul>

  <div id="name">
    <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
    </p>

  </div>
</div>