 <div class="tag-container">

  <ul class="tabs">
      <li><a href="/tags/new">new</a></li>
      <li class="active"><a href="">name</a></li>
      <li><a href="/tags/popular">popular</a></li>
  </ul>

  <div id="name">
    <h2>name tags</h2>
    <p>We expect you to bring your intelligence, your focus, your creativity, and your personality into each challenge every day. If you are struggling, we expect you to ask others (including staff) for help. If you find that you're holding some part of you back from this experience, we ask that you focus on being authentic with your pair, your cohort, and staff. DBC flourishes when all of us feel safe being authentic with each other.</p>
    <p>This includes exposing your ignorance and being open to uncomfortable emotional and technical challenges at DBC.</p>
    <p>We expect everyone to complete the assigned challenges, but we want to reinforce that it's not about completing the challenge if nothing is learned. The DBC experience is fundamentally about <em>learning</em>. We expect you to demonstrate effort and mastery of each learning competency by completing the challenges.</p>
  </div>
</div>