<div class="tag-container">

  <ul class="tabs">
      <li class="active"><a href="/tags/new">new</a></li>
      <li><a href="/tags/name">name</a></li>
      <li ><a href="/tags/popular">popular</a></li>
  </ul>
  <div id="new">
    <h2>new tags</h2>
      <p>
        We also expect every person to be kind to one another. Kindness does not mean "nice"; they are actually not the same thing. Being kind does mean being friendly, generous, and considerate, but it does not preclude giving constructive, truthful feedback as long as it is <strong>A</strong>ctionable, <strong>S</strong>pecific, and <strong>K</strong>ind (ASK).
      </p>
      <p>
          We expect all students and staff to show kindness by providing feedback and code reviews to one another, informing one another when someone has fallen out of integrity, and by bringing ourselves 100% into every day. We also show kindness through showing respect to others and our space.
      </p>
      <p>
        Last but not least, we expect you to be kind to yourself. You've taken a big risk and are making a big change. Give yourself some space and understanding as you face the challenges of our program.
      </p>
  </div>
</div>