 <div class="tag-container">
    <ul class="tabs">
        <div class="tag">Tags</div>
        <li><a href="/tags/new">new</a></li>
        <li><a href="/tags/name">name</a></li>
        <li class="active"><a href="/tags">popular</a></li>
    </ul>

    <div class="page-description">
      <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
      </p>

      <table>
        <tbody>
          <tr>
            <td>Type to find tags:</td>
            <td style="padding-left:5px">
              <input   type="text" class="tag-filter">
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="tag-list">
      <% @tags.each do |tag|%>

      <div class="tag-div">
        <span class="tag-name">
          <%= tag.name%>
        </span>
          <p class="tag-description">
            <%= tag.description%>
          </p>
          <p class="question-count">
            <%= tag.questions.count%> &nbsp;asked today

          </p>
      </div>

      <% end%>

    </div>

</div>