<div class="question_contain">
  <div class="question_head">

  </div>

  <div class="question_right_bar">
  </div>

  <div class="question_counter">
  </div>

  <div class="question_view">
    <div class="question_summary">
    </div>
    <div class="question_summary_user">
    </div>

  </div>

</div>
