<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
  <body>
  <header>

    <div class="top_bar">

      <form>
        <input type="text" name="searchbar" placeholder="search" class="search_bar">
      </form>

      <ul class="top_navbar">
        <li class="top_navbar_li"><a href="/users/signup">sign up</a></li>
        <li class="top_navbar_li"><a href="/users/login">login</a></li>
        <li class="top_navbar_li"><a href="#">tour</a></li>
        <li class="top_navbar_li"><a href="#">help</a></li>
        <li class="top_navbar_li"><a href="#">stack overflow careers</a></li>
      </ul>
        <span><img src="/images/ram_advantage.gif"></span>
    </div>
    <div class="logo_bar">

      <ul class="logo_navbar">
        <li id="logo_navbar_ask"><a href="#">Ask Question</a></li>
        <li id="logo_navbar_unanswered"><a href="#">Unanswered</a></li>
        <li id="logo_navbar_user"><a href="/users">Users</a></li>
        <li id="logo_navbar_tag"><a href="/tags">Tags</a></li>
        <li id="logo_navbar_question"><a href="/questions">Questions</a></li>
      </ul>
      <div class="logo">
        <img src="/images/ram_overflow.gif" width="100%" height="100%">
      </div>
    </div>

  </header>

  <%= yield %>
  <footer>
    <img src="/images/footer_ram.png">
  </footer>
</body>
</html>
