<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!--
    css for login/register pages
  -->
  <link rel="stylesheet" href="/css/login-signup.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>

    <div class="top_bar">

      <form>
        <input type="text" name="searchbar" placeholder="search" class="search_bar">
      </form>

      <ul class="navbar">
        <li class="navbar_li"><a href="#">sign up</a></li>
        <li class="navbar_li"><a href="#">login</a></li>
        <li class="navbar_li"><a href="#">tour</a></li>
        <li class="navbar_li"><a href="#">help</a></li>
        <li class="navbar_li"><a href="#">stack overflow careers</a></li>
      </ul>

    </div>

  </header>
  <%= yield %>
</body>
</html>
